<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "kz.proks.app"
        versionCode = "10"
        version     = "1.5.0">

    <name>proks.kz</name>

    <description>
        Сервис по аренде инструментов и оборудования.
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#FFFFFF" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/8cb71438061d9fc8f235a663918f44fa.png" density="ldpi" />
        <icon src="res/android/icon/e4b9430cabb300fd3aea98ce487e6e42.png" density="mdpi" />
        <icon src="res/android/icon/4e3b0c9883d858beeba37fac3c8859a8.png" density="hdpi" />
        <icon src="res/android/icon/19dd62b66a3aa3320af535268ccbeed4.png" density="xhdpi" />
        <icon src="res/android/icon/e8e3d67d8be357151ed99f71a407716c.png" density="xxhdpi" />
        <icon src="res/android/icon/e6b134493efc37e037ffa8b11183a061.png" density="xxxhdpi" />

        <splash src="res/android/screen/91f29ad24c20f6ff35bf4416862e035a.png" density="port-hdpi"/>
        <splash src="res/android/screen/19cd4b507d502665fd53102b979586f5.png" density="port-ldpi"/>
        <splash src="res/android/screen/175e1c54f0769ffdc080670cc6b83ff4.png" density="port-mdpi"/>
        <splash src="res/android/screen/1acf2dec40f384d4bcd3c2ac749b2d62.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/b9053a3961d15cd6bdc9e07df7209bd0.png" width="180" height="180" />
        <icon src="res/ios/icon/36e751d8f72dea03dfaabe65ceb64f9c.png" width="60" height="60" />
        <icon src="res/ios/icon/43f643b01b436e6b056c603d5822d8d9.png" width="120" height="120" />
        <icon src="res/ios/icon/3b4c577e0b162aa5cf9477dd73b306ec.png" width="76" height="76" />
        <icon src="res/ios/icon/9529151ffcc993e1bc5ee1eed639a9af.png" width="152" height="152" />
        <icon src="res/ios/icon/638e58c2dcda8e6d5260ee94b552bfdc.png" width="57" height="57" />
        <icon src="res/ios/icon/983a493ac17904c379ce337537963445.png" width="114" height="114" />
        <icon src="res/ios/icon/7f4af3dab63272f06a65ff607d4bd9bc.png" width="72" height="72" />
        <icon src="res/ios/icon/6fefa5ee6af3dea5e39eb062c0e77652.png" width="144" height="144" />
        <icon src="res/ios/icon/bd062535208c3008325f464b15d1d25f.png" width="167" height="167" />
        <icon src="res/ios/icon/a3abf134082b6049fef02646335a8332.png" width="29" height="29" />
        <icon src="res/ios/icon/52dfb3e531f51e34d007d0bd922cf07a.png" width="58" height="58" />
        <icon src="res/ios/icon/6f0266e2a131f6479629a95e38d3fad6.png" width="87" height="87" />
        <icon src="res/ios/icon/df609e53dba76f864e639853e25ab3bf.png" width="167" height="167" />

        <splash src="res/ios/screen/b6e6005a61adf047b085b86ff69636f6.png" />
        <splash src="res/ios/screen/49bb68ee16ed7e7fd33ef9ac1c504dc1.png" />
        <splash src="res/ios/screen/d37a8d40da5c4e032abb22f701f43884.png" />
        <splash src="res/ios/screen/e08ea22f5f6f0f6603af72354afe96e6.png" />
        <splash src="res/ios/screen/45fdc9133e8113e2a65fcf29ecf26b63.png" />
        <splash src="res/ios/screen/b02a166e92196d554cd1d4c8f813c7f8.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/4b4295db43ccf60595b93ab1d9be2566.png" target="StoreLogo" />
        <icon src="res/windows/icon/475198a003201bbca7996aa502d68a6a.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/c9665d559d076e691f5bba139c9634c9.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/2704790ddbc9220890247a7c306989c2.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/0794322bff9217fc7f60284e9d790bc8.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/9a0c9cbdfa26a72aef980ce36bcbf3b8.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/7aa72f63e344bae50c2351a9efdcda0f.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/86e3cafbe4360c992c890bc3a6b617a8.png" target="SplashScreen"/>
        <splash src="res/windows/screen/8dfe6b38e9d7dde458f6ef5d379d62e0.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>